* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #aec0ff;
    --secondary-color: #477BB6;
    --primary-color50: #aebfff83;
    --background-color: #F5F5F5;
    --title-font: 'Roboto', sans-serif;
    --content-font: 'EB Garamond', serif;
}

body {
    background-color: var(--background-color)
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding-top: 6%;
    background-color: var(--primary-color);
}

h1 {
    font-family: var(--title-font);
}

header h2 {
    margin: 5% 68% 0 5%;
    padding: 10px;
    font-size: 17px;
    background-color: var(--background-color);
    border: 1px solid;
    border-bottom-style: none;
    font-family: var(--title-font);
}

.principalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 5%;
}

#addCategory {
    margin-top: 2%;
}

.principalContainer h3,
.containerAddTask {
    padding: 1% 0;
}


.containerAddTask {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 2vh;
    border: solid #000000 2px;
}

.myForm {
    display: flex;
    align-items: center;
}

.containerCatTask {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: solid #000000 2px;
    padding: 60px;
}

.section-category-home,
.section-category-work,
.section-category-chill {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: solid #000000 2px;
    padding: 60px;
}

#todo-description {
    margin: 0 15px;
    display: flex;
}


h3 {
    font-family: var(--title-font);
}