* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #aec0ff;
    --secondary-color: #477BB6;
    --primary-color50: #aebfff83;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding: 1vh;
    background-color: var(--primary-color);
}

.principalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: ;
    margin: 0 5%;
}

.principalContainer h2, .containerAddTask {
    padding: 1% 0;
}

.principalContainer 

.containerAddTask {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #000000 2px;
}

.containerCatTask {
    background-color: var(--primary-color50);
    border-radius: 10px;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #000000 2px;
}
