* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f5f5f5;
  --title-font: "Roboto", sans-serif;
  --content-font: "EB Garamond", serif;
  --footer-height: 35px;
}

body {
  background-color: var(--background-color);
  position: relative;
  min-height: calc(100vh - var(--footer-height) + 30px);
  margin: 0;
  width: 100%;
  padding-bottom: calc(var(--footer-height) + 30px);
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #50A060;
}

p {
    font-size: 28px;
    padding: 0 0 15px 0;
    color: mintcream;
  }

/* MAIN */

.principalContainer {
  justify-content: space-around;
  padding: 0 5%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#addCategory {
  margin-top: 2%;
}

.principalContainer h3,
.containerAddTask {
  padding: 1% 0;
}

.containerAddTask {
  background-color: #a57746;
  border-radius: 10px;
  padding: 1.5vh;
  border: solid grey 1px;
}

.menu {
  height: 3.2rem;
  display: flex;
  flex-direction: column;
}

label {
  font-family: var(--content-font);
  padding: 0 2px;
  font-weight: 700;
  font-size: 17px;
}

.myForm {
  display: grid;
  align-items: center;
  width: 97%;
  grid-template-columns: auto 1fr auto;
}

.section-category-chill,
.section-category-home,
.section-category-work {
  background-color: mintcream;
  border-radius: 10px;
  border: solid grey 1px;
  padding: 2%;
  width: 100%;
  min-height: 150px;
  overflow-y: auto;
  max-height: 150px;
}

h3 {
  font-family: var(--title-font);
  margin-top: 10px;
}

.section-task {
  display: flex;
  background-color: #a57746;
  justify-content: space-between;
  margin: 8px 0 8px 0px;
  border-radius: 5px;
  padding: 8px 11px 8px 11px;
  width: 100%;
  height: auto;
}

.delete-button {
  width: 25px;
  height: 25px;
  min-width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 34px;
  position: relative;
  font-family: var(--title-font);
}

.status-button {
  width: 20px;
  align-self: center;
  height: 20px;
  border-radius: 50%;
  align-self: center;
  margin-left: 1rem;
  appearance: none;
  outline: none;
  border: none;
  background-color: #a57746;
}

#to-do {
  background-color: red;
}

#in-progress {
  background-color: orange;
}

#done {
  background-color: green;
}

.task-text {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: larger;
  font-family: var(--content-font);
  overflow-wrap: anywhere;
}

#todo-choose-cat {
  width: 80px;
  margin: 5px 0;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--content-font);
  background-color: var(--background-color);
  text-align: center;
}

#todo-choose-cat option {
  font-family: var(--content-font);
  font-size: 13px;
  background-color: var(--background-color);
  color: black;
}

#todo-description {
  margin: 0 15px;
  padding: 1% 0 0 2%;
  background-color: mintcream;
}

textarea {
  resize: none !important;
  background-color: var(--background-color);
  border-radius: 5px;
  border: solid 1px grey;
}

::placeholder {
  text-align: center !important;
  margin: 4px 8px;
  padding-top: 8px;
}

#addButton {
  background-color: var(--background-color);
  width: 200%;
  height: 30px;
  border-radius: 50%;
  border: solid 2px black;
  max-width: 30px;
}

span {
  font-size: 20px !important;
}

.delete-img {
  width: 1.5rem;
}

/* FOOTER */

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #50A060;
}

footer p {
  font-family: var(--content-font);
  padding: 0.5vh 2vw 0.5vh 1vw;
  line-height: var(--footer-height);
  text-align: right;
}

/* Responsive tablette paysage et desktop */

@media screen and (min-device-width: 768px) {
  header {
    margin-bottom: 0;
    padding-top: 20px;
  }

  header h1 {
    font-size: 58px;
    padding-bottom: 10px;
  }

  p {
    font-size: 1.8rem;
    padding: 0 0 20px 0;
  }

  .menu {
    padding: 0 0 0 20px;
  }
 
  .addTask {
    margin: 0;
  }

  .catTask {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 30px;
    max-height: 80vh;
  }

  footer p {
    font-size: 25px;
  }

  #todo-description {
    margin: 0 25px 0 25px;
    padding: 1%;
  }

  ::placeholder {
    font-size: 25px;
    font-family: var(--content-font);
    display: flex;
    align-items: center;
  }

  .section-category-chill,
  .section-category-home,
  .section-category-work {
    max-height: 260px;
  }

  .logo { 
    width: 380px;
    height: 150px;
  }
}
